html{
  background-color: Lightblue
}
#startbtn{
  float: right;
    margin-right: 7em;
}
#startbtn button{
  width: 60px;
  height: 60px;
  color: #E5F3F8;
  background-color:darkslategray;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  font-size: 37px;
  box-shadow: 3px 2px 3px  #858585;
}
#topbar{
  margin-left: 6.1em;
  margin-top: 3em;
  margin-bottom:1em;
}
#title{
  color:darkslategray;
  margin-right: 1em;
  font-size: 37px;
  display: inline;
  font-family:sans-serif;
  font-weight: bold;
  font-language-override: normal;
}
#frame{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height : 43em;
  border-spacing: 15px;
}
.view{
  width:100%;
  height: 95%;
  background-color: #E5F3F8;
  border:2px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 2px #858585;
}
#text{
  font-size: 20px;
  margin-left: 1em;
  font-style: normal;
  font-family: monospace;
}
#console{
  font-size: 20px;
  margin-left: 1em;
  font-style: normal;
  font-family: monospace;
}
#template{
  margin: 0;
  padding: 0;
  height: 17em;
    border-radius: 10px;
    background-color: darkslategray;
  box-shadow: 3px 3px 2px #858585;
}
.keyboard{
  margin: 0;
  padding:1px;
 width: 100%;
 height: 20%;
}
#template td,#template tr{
  border:1px solid black;
}
.keyboard button{
  border-radius: 10px;
  width :6.37%;
  height: 99%;
  border:1px solid black;
  background-color: #E5F3F8;
  margin: 0;
}
#tab, #\\{
  width :9.56%;
}
#capslock, #enter{
  width :12.9%;
}
#shift{
  width :16.2%;
}
#space{
  width:23%;
}
button{
  background: none;
  border: none;
  color:darkslategray;
  font-size: 20px;
}
#topbar > button::first-letter{
  text-decoration:underline;
  font-weight: bold;
}
.boxTitle{
  font-size: 25px;
  font-family:monospace;
  color: white;
  background-color: darkslategray;
  box-shadow: 3px 0px 0px #858585;
}
